/node_modules
/public/hot
/public/uploads
/public/storage
/public/js/conf.js
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
